

.Nav-Menu{
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translate(60%,100%);
    border:1px solid gray;
    padding: 5px;
    border-radius: 5px;
}

.Dropdown{
    position: relative;
    
}
